* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #263238;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.btn-wrapper {
  width: 15rem;
  height: 5rem;
  text-align: center;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  line-height: 5rem;
  translate: 0.3s linear;
  transform-style: preserve-3d;
}

.btn-wrapper:hover {
  transform: rotateX(90deg);
}

.front {
  background: #9e9d24;
  height: 5rem;
}

.back {
  background: #afb42b;
  height: 5rem;
  transform: rotateX(90deg) translateZ(5rem);
}
