* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  perspective: 1000px;
}

header {
  min-height: 100vh;
  background: linear-gradient(240deg, #834d4d, #503d3d);
  position: sticky;
  top: 0;

  color: #fff;
  font-family: sans-serif;

  /* Wow... header 를 스크롤 만큼 움직이는데 z-index를 -1 줘서 다음 요소에 가려지게 한다니! */
  z-index: -1;

  transform-style: preserve-3d;
}

.intro-text h1 {
  font-size: 60px;
  margin-bottom: 10px;
}
.intro-text h3 {
  font-size: 35px;
}

.intro-text {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translateY(-20%, -50%);
}

.chair {
  height: 700px;
  position: absolute;
  top: 90%;
  right: 10%;
  transform: translate(-10%, -90%);
}

.big-rose {
  position: absolute;
  height: 200px;
  top: 10%;
  left: 40%;
}

.small-rose {
  position: absolute;
  height: 100px;
  top: 30%;
  right: 10%;
}

section {
  min-height: 100vh;
  color: #834d4d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-size: 50px;
  background-color: lavender;
}
